<div class="jumbotron center">
	<h1>Welcome to Recipe Manager</h1>
	<h2>
		This is home page for Recipe manager
	</h2>
	
	<%= link_to "Sign up now!", "", class: "btn btn-lg btn-success"%>
</div>

<div class="row">
	<div class="col-lg-4">
		<h3 class="midrow">
			View recipes as our guest
		</h3>
		<h2 class="left">
			Browse and view recipes as our guest and sign up later
		</h2>
		<p><%= link_to "Brows Recipe Listings", "", class: "btn btn-warning btn-small"%></p>
	</div>
	<div class="col-lg-4">
		<h3 class="midrow">
			View recipes as our guest
		</h3>
		<h2 class="left">
			Browse and view recipes as our guest and sign up later
		</h2>
		<p><%= link_to "Brows Recipe Listings", "", class: "btn btn-warning btn-small"%></p>
	</div>
	<div class="col-lg-4">
		<h3 class="midrow">
			View recipes as our guest
		</h3>
		<h2 class="left">
			Browse and view recipes as our guest and sign up later
		</h2>
		<p><%= link_to "Brows Recipe Listings", "", class: "btn btn-warning btn-small"%></p>
	</div>
</div>
