// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  letter-spacing: -2.5px;
  font-weight: bold;
  color: #222;
  font-size: 2em;
  text-transform: uppercase;
}

#logo:hover {
  color: #999;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height:1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  text-align: center;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
