<!--Enter the navbar  -->
<nav class="navbar navbar-fixed-top navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
			data-target="#recipe-manager-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a id="logo" class="navbar-brand" href="#">Recipe Manager</a>
		</div>
		<div class="collapse navbar-collapse" id="#recipe-manager-navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">Linky 1</a>
				</li>
				<li>
					<a href="#">Linky 2</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">Sign In</a>
				</li>
			</ul>
		</div>
	</div>
</nav>